<!-- views/fruits/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= cheese.name %></title>
  </head>
  <body>
    <a href="/cheeses">Back to Cheeses</a>
    <h1><%= cheese.name %></h1> 
    <% if (cheese.isStinky) { %>
        <p> This Cheese Stinks!</p>
        <% } else { %>
            <p> This Cheese is NOT Stinky!</p>
            <% }; %>
            <form action="/cheeses/<%=cheese._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete <%= cheese.name %></button>
                <a href="/cheeses/<%= cheese._id %>/edit">Edit <%= cheese.name %></a>
              </form>
              

  </body>
</html>
